.range-slider {
  height: 18px;
}

.range-slider::-webkit-slider-runnable-track {
  height: 0px;
  background: transparent;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 7px solid var(--brand);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: -12px;
}

.range-slider::-moz-range-track {
  height: 0px;
  background: transparent;
}

.range-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 7px solid var(--brand);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
